<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>About Us</title>
    <link rel="stylesheet" type="text/css" href="css/style.css" />
  </head>
  <body>
    <div class="container">
      <div class="navbar">
        <div class="logo">
          <img src="/images/logo.png" width="175px" />
          <h1>AAJ Auto Group</h1>
        </div>
        <nav>
          <ul>
            <li><a href="https://aaj-cps491.herokuapp.com/">Home</a></li>
            <li><a href="AboutUs">About Us</a></li>
            <li><a href="Dealership">Dealerships</a></li>
            <li><a href="Cars">Cars</a></li>
            <li><a href="ContactUs">Contact Us</a></li>
            <li><a href="Cart">Cart</a></li>
          </ul>
        </nav>
      </div>
    </div>
    <div class="categories">
      <div class="small-container">
        <div class="row">
          <div class="col-3">
            <img src="/images/Andre.png" />
            <h4>André Cullen</h4>
          </div>
          <div class="col-3">
            <img src="/images/Anthony.jpg" />
            <h4>Anthony Avila</h4>
          </div>
          <div class="col-3">
            <img src="/images/Johnny.jpg" />
            <h4>Johnny Ngo</h4>
          </div>
          <h2>André Cullen:</h2>
          <p>
            Senior, at the University of Dayton studying Computer Information
            Systems with a minor in Business Administration. I have taken CPS
            149, 150, 151, 242, 341, 350, 430, 470, and 471. Last summer I was a
            Digital Marketing Intern at Red Ventures in Charlotte, North
            Carolina. In the summer of 2019 I participated as an Intern in a
            local Start Up company in Puerto Rico, called Brands of Puerto Rico.
            I have skills in Java, HTML, CSS, and JavaScript.
          </p>

          <h2>Anthony Avila:</h2>
          <p>
            Senior, at the University of Dayton studying Computer Information
            Systems with a minor in Economics. I have taken CPS 149, 150, 151,
            242, 341, 350, and 430. Last summer I worked as an Intern at Chicago
            Harbor IT. I have skills in Java, python, and HTML.
          </p>

          <h2>Johnny Ngo:</h2>
          <p>
            Senior, at the University of Dayton studying Computer Science. I
            have taken CPS 149, 150, 151, 250, 341 and 350. In the Summer of
            2019, I worked as an Intern at LION, IT. I am proficient in Java,
            Python and C.
          </p>
        </div>
      </div>
    </div>
    <footer class="footer">
      <h3>Founders:</h3>
      <p>Anthony Avila: avilaa1@udayton.edu</p>
      <p>Andre Cullen: cullena1@udayton.edu</p>
      <p>Johnny Ngo: ngoj01@udayton.edu</p>
    </footer>
  </body>
</html>
