<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Car Details</title>
    <link rel="stylesheet" type="text/css" href="css/style.css" />
  </head>
  <body>
    <div class="container">
      <div class="navbar">
        <div class="logo">
          <img src="images/logo.png" width="175px" />
          <h1>Specific Car</h1>
        </div>
        <nav>
          <ul>
            <li><a href="https://aaj-cps491.herokuapp.com/">Home</a></li>
            <li><a href="AboutUs">About Us</a></li>
            <li><a href="Dealership">Dealerships</a></li>
            <li><a href="Cars">Cars</a></li>
            <li><a href="ContactUs">Contact Us</a></li>
            <li><a href="Cart">Cart</a></li>
          </ul>
        </nav>
      </div>
    </div>
    <!-----------Single Product Details-------------->
    <div class="small-container">
      <div class="row">
        <div class="col-2">
          <img src="images/Nissan1.jpg" width="100%" id="product-img" />
          <div class="small-img-row">
            <div class="small-img-col">
              <img src="images/Nissan1.jpg" width="100%" />
            </div>
            <div class="small-img-col">
              <img src="images/Nissan1.jpg" width="100%" />
            </div>
            <div class="small-img-col">
              <img src="images/Nissan1.jpg" width="100%" />
            </div>
            <div class="small-img-col">
              <img src="images/Nissan1.jpg" width="100%" />
            </div>
          </div>
        </div>
        <div class="col-2">
          <p>Home / Cars</p>
          <h1>Nissan Rogue</h1>
          <h4>$20,000</h4>
          <select>
            <option>Select Model</option>
            <option>Sport</option>
            <option>Regular</option>
            <option>Upgraded</option>
          </select>
          <a href="" class="btn">Add to Cart</a>
          <h3>Product Details <i class="fas fa-indent"></i></h3>
          <br />
          <p>
            The Rogue is Nissan's best-selling vehicle, and it's also one of the
            most popular small SUVs on the market.
          </p>
        </div>
      </div>
    </div>
    <footer class="footer">
      <h3>Founders:</h3>
      <p>Anthony Avila: avilaa1@udayton.edu</p>
      <p>Andre Cullen: cullena1@udayton.edu</p>
      <p>Johnny Ngo: ngoj01@udayton.edu</p>
    </footer>
  </body>
</html>
