<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Cars</title>
    <link rel="stylesheet" type="text/css" href="css/style.css" />
  </head>
  <body>
    <div class="container">
      <div class="navbar">
        <div class="logo">
          <img src="images/logo.png" width="175px" />
          <h1>Specific Dealership</h1>
        </div>
        <nav>
          <ul>
            <li><a href="https://aaj-cps491.herokuapp.com/">Home</a></li>
            <li><a href="AboutUs">About Us</a></li>
            <li><a href="Dealership">Dealerships</a></li>
            <li><a href="Cars">Cars</a></li>
            <li><a href="ContactUs">Contact Us</a></li>
            <li><a href="Cart">Cart</a></li>
          </ul>
        </nav>
      </div>
    </div>
    <div class="products">
      <div class="containerP">
        <h1 class="page-title">ALL DEALERSHIPS</h1>
      </div>
      <% cars.forEach(function(car){ %>
      <div class="product-item">
        <!--Single Product-->
        <div class="product">
          <div class="product-content">
            <div class="product-img">
              <img src="<%=car.image%>" alt="Product Image" />
            </div>
            <div class="product-btns">
              <button type="button" class="btn-cart">
                Add to Cart
                <span><i class="fas fa-plus"></i></span>
              </button>
              <button type="button" class="btn-buy">
                Buy Now
                <span><i class="fas fa-shopping-cart"></i></span>
              </button>
            </div>
          </div>
          <div class="product-info">
            <div class="product-info-top">
              <h2 class="car-title">
                <a href="CarDetails"><%=car.make%> <%=car.model%></a>
              </h2>
              <div class="rating">
                <span><i class="fas fa-star"></i></span>
                <span><i class="fas fa-star"></i></span>
                <span><i class="fas fa-star"></i></span>
                <span><i class="fas fa-star"></i></span>
                <span><i class="far fa-star"></i></span>
              </div>
            </div>
            <a href="#" class="product-name"><%=car.make%> <%=car.model%></a>
            <p class="product-price">$<%=car.price%></p>
          </div>
        </div>
        <!--Single Product end-->
      </div>
      <% }); %>
    </div>
    <footer class="footer">
      <h3>Founders:</h3>
      <p>Anthony Avila: avilaa1@udayton.edu</p>
      <p>Andre Cullen: cullena1@udayton.edu</p>
      <p>Johnny Ngo: ngoj01@udayton.edu</p>
    </footer>
  </body>
</html>
