<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Shopping Cart</title>
    <link rel="stylesheet" type="text/css" href="css/style.css" />
  </head>
  <body>
    <div class="container">
      <div class="navbar">
        <div class="logo">
          <img src="images/logo.png" width="175px" />
          <h1>Shopping Cart</h1>
        </div>
        <nav>
          <ul>
            <li><a href="https://aaj-cps491.herokuapp.com/">Home</a></li>
            <li><a href="AboutUs">About Us</a></li>
            <li><a href="Dealership">Dealerships</a></li>
            <li><a href="Cars">Cars</a></li>
            <li><a href="ContactUs">Contact Us</a></li>
            <li><a href="Cart">Cart</a></li>
          </ul>
        </nav>
      </div>
    </div>
    <!-------------Shopping Cart-----------------> 
    <!-------------Cart Item Details------------->
    <div class="small-container cart-page">
        <table>
            <tr>
                <th>Product</th>
                <th>Quantity</th>
                <th>Subtotal</th>
            </tr>
            <tr>
                <td>
                    <div class="cart-info">
                        <img src="images/Nissan1.jpg">
                        <div>
                            <p>Car Model and Dealership</p>
                            <small>Price: $25,000</small>
                            <br>
                            <a href="">Remove from Cart</a>
                        </div>
                    </div>
                </td>
                <td><input type="number" value="1"></td>
                <td>$25,000</td>
            </tr>
        </table>
    </div>
    <footer class="footer">
        <h3>Founders:</h3>
        <p>Anthony Avila: avilaa1@udayton.edu</p>
        <p>Andre Cullen: cullena1@udayton.edu</p>
        <p>Johnny Ngo: ngoj01@udayton.edu</p>
      </footer>
    </body>
  </html>