<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Contact Us</title>
    <link rel="stylesheet" type="text/css" href="css/style.css" />
  </head>
  <body>
    <div class="container">
      <div class="navbar">
        <div class="logo">
          <img src="images/logo.png" width="175px" />
          <h1>AAJ Auto Group</h1>
        </div>
        <nav>
          <ul>
            <li><a href="https://aaj-cps491.herokuapp.com/">Home</a></li>
            <li><a href="AboutUs">About Us</a></li>
            <li><a href="Dealership">Dealerships</a></li>
            <li><a href="Cars">Cars</a></li>
            <li><a href="ContactUs">Contact Us</a></li>
            <li><a href="Cart">Cart</a></li>
          </ul>
        </nav>
      </div>
    </div>
    <div class="categories">
      <div class="small-container">
        <div class="row">
          <div class="col-3">
            <img src="images/Andre.png" />
            <h4>André Cullen</h4>
            <p>Email: cullena1@udayton.edu</p>
          </div>
          <div class="col-3">
            <img src="images/Anthony.jpg" />
            <h4>Anthony Avila</h4>
            <p>Email: avilaa1@udayton.edu</p>
          </div>
          <div class="col-3">
            <img src="images/Johnny.jpg" />
            <h4>Johnny Ngo</h4>
            <p>ngoj01@udayton.edu</p>
          </div>
        </div>
      </div>
    </div>
    <footer class="footer">
      <h3>Founders:</h3>
      <p>Anthony Avila: avilaa1@udayton.edu</p>
      <p>Andre Cullen: cullena1@udayton.edu</p>
      <p>Johnny Ngo: ngoj01@udayton.edu</p>
    </footer>
  </body>
</html>
