<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Dealerships</title>
    <link rel="stylesheet" type="text/css" href="css/style.css" />
  </head>
  <body>
    <div class="container">
      <div class="navbar">
        <div class="logo">
          <img src="images/logo.png" width="175px" />
          <h1>AAJ Auto Group</h1>
        </div>
        <nav>
          <ul>
            <li><a href="https://aaj-cps491.herokuapp.com/">Home</a></li>
            <li><a href="AboutUs">About Us</a></li>
            <li><a href="Dealership">Dealerships</a></li>
            <li><a href="Cars">Cars</a></li>
            <li><a href="ContactUs">Contact Us</a></li>
            <li><a href="Cart">Cart</a></li>
          </ul>
        </nav>
      </div>
    </div>

    <% dealerships.forEach(function(dealership){ %>
    <div class="banner">
      <img src="<%=dealership.image%>" />
      <h3><%=dealership.name%></h3>
      <p>Location: <%=dealership.city%>, <%=dealership.state%></p>
      <p>Phone: <%=dealership.phone%></p>
    </div>
    <% }); %>
    <footer class="footer">
      <h3>Founders:</h3>
      <p>Anthony Avila: avilaa1@udayton.edu</p>
      <p>Andre Cullen: cullena1@udayton.edu</p>
      <p>Johnny Ngo: ngoj01@udayton.edu</p>
    </footer>
  </body>
</html>
