<!DOCTYPE html>
<html>
	<head>
			<meta charset="UTF-8">
			<title>AAJ Auto Group AA</title>
			<link rel="stylesheet" type="text/css" href="css/style.css">
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	</head>
	<body>

		<div class="container">
			<div class="navbar">
			<div class="logo">
				<img src="images/logo.png" width="175px"><h1>AAJ Auto Group</h1>
			</div>
			<input type="button" onclick="location.href='login';" value="Login" />
			<nav>
				<ul>
					<li><a href="https://aaj-cps491.herokuapp.com/">Home</a></li>
					<li><a href="AboutUs">About Us</a></li>
					<li><a href="Dealership">Dealerships</a></li>
					<li><a href="Cars">Cars</a></li>
					<li><a href="ContactUs">Contact Us</a></li>
					<li><a href="test">test</a></li>
					<li><a href="Cart">Cart</a></li>

				</ul>
			</nav>
			</div>
			<div class="row">
				<div class="col-2">
					<h1>Input your Location, <br> and let Us take care of the rest!</h1>
					<form action = "test" method = "GET">
						<input name="zip" type="text">
						<button type="submit">Submit</button>
					</form>
					<p>We will find you the best dealerships around you <br>and show you a listing of their best vehicles.</p>

				</div>
				<div class="col-2">
					<img src="images/newcar.jpg">
				</div>
			</div>
			<hr class="dashed">
		</div>
		<div class="circle">1</div>
		<div class="step1"><h5>STEP 1:</h5><p>Input your <h5>ZIP CODE</h5> and let us find your nearest dealerships</p></div>
		<div class="circle2">2</div>
		<div class="step2"><h5>STEP 2:</h5><p>Browse around the multiple dealership options and choose your favorite one. </p></div>
		<div class="circle3">3</div>
		<div class="step3"><h5>STEP 3:</h5><p>Browse and Choose your favorite car and add it to your cart. </p></div>
		<!---Featured Cars--->
		<h1>_____________________________________Popular Options______________________________________</h1>
		<div class="categories">
			<div class="small-container">
				<div class="row">
					<div class="col-3">
						<img src="images/Nissan1.jpg">
						<h4>Nissan Rogue 2021</h4>
					</div>
					<div class="col-3">
						<img src="images/CRV.png">
						<h4>Honda CRV 2021</h4>
					</div>
					<div class="col-3">
						<img src="images/mazda.jpg">
						<h4>Mazda CX-5 2021</h4>
					</div>

				</div>
			</div>
		</div>
		<footer class="footer">
			<h3>Founders: </h3>
			<p>Anthony Avila: avilaa1@udayton.edu</p>
			<p>Andre Cullen: cullena1@udayton.edu</p>
			<p>Johnny Ngo: ngoj01@udayton.edu</p>
		</footer>
		<script src = '/public/search.js'></script>		
	</body>
</html>