<!DOCTYPE html >
<html lang="en"><head>
    </head>
        <body>
            <h1 style="padding-left: 400px; height: 60px; font-size: 60px; border-width: 0; color: burlywood"> AAJ by Andre,Anthony,and Johnny</h1>
            <br>
        
            <h4 style="font-size: 40px; color: black">Our Team
            </h4>
            <h5 style="font-size: 30px; color: black">Andre Cullen</h5><br>
            <img src="" alt="Image of Andre" style="height:600px;">
            <br>
            <h6 style="font-size: 30px; color: black">Anthony Avila</h6>
            <img src="" alt="Image of Anthony" style="height:600px;"><br>
            <br>
			<br>
            <h6 style="font-size: 30px; color: black">Johnnny Ngo</h6>
            <img src="" alt="Image of Johnny" style="height:600px;"><br>
            <br>
            <br>
            <h7 style="font-size: 40px; color: black"> About the Project</h7>
            <p style="font-size: 20px;">
                The goal of this project is to develop a website that allows the customer to buy a car 100% online
            </p>
            <h7 style="font-size: 40px; color: black"> Project Description</h7>
            <p style="font-size: 20px;">
                The purpose of the project is to develop a website,that allows people to change the way they buy cars. we want people to come to our webiste before they even think about going to a in-person dealership .</p>   
            <h8 style="font-size: 40px; color: black"> </h8>
            <p style="font-size: 20px;"> </p>        
    </body></html>