<!DOCTYPE html>
<!--CSS - Make Two DIVs Left and Right Aligned inside Main DIV.-->
<html>
  <head>
    <title>Dealerships near you</title>
    <!--Example CSS-->
    <link href="css/style.css" type="text/css" rel="stylesheet" />
    <style>
      .outerDiv {
        background-color: #006699;
        color: #fff;
        position: absolute;
        top: 70px;
        right: 70px;
        bottom: 70px;
        left: 70px;
        margin: 0px auto;
        padding: 1px;
      }
      .leftDiv {
        background-color: #efefef;
        color: #000;
        height: 100%;
        width: 48%;
        float: left;
      }
      .rightDiv {
        background-color: #efefef;
        color: #000;
        height: 100%;
        width: 48%;
        float: right;
      }
    </style>
  </head>
  <body>
    <div class="outerDiv">
      <div class="leftDiv" style="text-align: center">
        <h1>Dealerships near <span id="result"></span></h1>
        <div class="results" style="text-align: left">
          <% dealerships.forEach(function(dealership){ %>

          <ul>
            <%=dealership.name%>
          </ul>
          <% }); %>
        </div>
      </div>
      <div class="rightDiv">
        <div id="map" style="width: 100%; height: 100%"></div>
        <script
          src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB4ptHjW_Rvz4i-Ou0nwOk-yytCPSicGaU&callback=initMap&v=weekly"
          async
        ></script>
      </div>
      <div style="clear: both"></div>
    </div>
    <script src="search.js"></script>
  </body>
</html>
